body {
  color: green;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
  /* add stuff here */
}

h1, #designed-by {
  text-align: center;
}

.style1 {
  background-color: #17301c;
}

.style2 {
  background-color: #379392;
}

.style3 {
  background-color: #4fb0c6;
}

.style4 {
  background-color: #4f86c6;
}

.style5 {
  background-color: #744fc6;
}

.style6 {
  background-color: #6A994E;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper > a {
  color: white;
}